<p id="notice"><%= notice %></p>

<p>
  <strong>Descrizione:</strong>
  <%= @artcat.description %>
</p>

<p>
  <strong>Icona:</strong>
  <%= @artcat.path %>
</p>


<%= link_to 'Torna a lista Categorie', artcats_path, :class => "button" %>
