<% @artworks.each do |artwork| %>
	      <div id="catalog_container">
	      	<h3 class="text-center"><%= artwork.description %></h3>
	      	 <%= image_tag "catalog/"+artwork.path %>
	      </div>
	<% end %>