<% @artworks.each do |artwork| %>
	      <div id="catalog_container" class="text-center">
	      
	      	 <%= image_tag "catalog/"+artwork.path %>
	      	 <h4>	<%= artwork.name.upcase %></h4>
	      </div>
	<% end %>