<div class="text-center">



	
	<% @artcats.each do |artcat| %>

	<a class="button small cat" data-artcat="<%= artcat.id %>"> <%= artcat.description.upcase %></a>

	<% end %>

	<a class="button small cat" data-artcat="0"> TUTTE - ALL </a>
</div>
<div class="row">
	<div class="small-1 columns prev ">
		<p>
			&lt;&lt;
		</p>
	</div>
	<div class="small-10 columns">
		<div id="owl-example" class="owl-carousel ">
			<% @artworks.each do |artwork| %>
			<div id="catalog_container" class="text-center">

				<%= image_tag "catalog/"+artwork.path %>
				<br>
				<h4><%= artwork.name.upcase %></h4></div>
			<% end %></div>
	</div>

	<div class="small-1 columns next ">
		<p>
			&gt;&gt;
		</p>
	</div>

</div>