<div class="nocursor">
<br>
	<div class="text-center ">

		<% @artcats.each do |artcat| %>

		<a class="button  cat" data-artcat="<%= artcat.id %>
			">
			<strong><%= artcat.description.upcase %></strong></a>

		<% end %>

		
	</div>
	<div class="row">
		<div class="small-2 columns prev ">
			<p>&lt;&lt;</p>
		</div>
		<div class="small-8 columns">

			<div id="owl-example" class="owl-carousel ">
				<% @artworks.each do |artwork| %>
				<div id="catalog_container" class="text-center">

					<%= image_tag "catalog/"+artwork.path %>
					<br>
					<h4>
						<%= artwork.name.upcase %></h4>
				</div>
				<% end %></div>
		</div>

		<div class="small-2 columns next ">
			<p>&gt;&gt;</p>
		</div>

	</div>
</div>