<p id="notice"><%= notice %></p>

<p>
  <strong>Descrizione:</strong>
  <%= @shape.description %>
</p>

<%= link_to 'Modifica', edit_shape_path(@shape), :class=>"button large" %> 
<%= link_to 'Torna a Elenco', shapes_path, :class=>"button large" %>
