// Place all the styles related to the Artworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{
	display: none;
}

.thumb
{
	display: block;
	height: 300px;
	width: auto;
}

.nocursor 
{ 
	cursor:none; 
}

.thumb_small
{
	@extend .thumb;
	height: 100px;
}

.cat_remove
{
	font-size: 16px;
	line-height: 10px;
	
}

.cat_add
{
	@extend .cat_remove;
	color: #aaaaaa !important;
	font-style: italic;
}

.next, .prev
{
	height: 800px;
	background-color: #008cba;
	text-align:center;
}

.next > p, .prev > p
{
	display: block;
	width:85%;
	position: absolute;
	top: 50%;
	font-size: 4rem;
	color: gainsboro;
	text-align:center;
}
